

body{
    margin: 0;
    margin-left: 100px;
    background-color: #191919;
    background-image: url(../images/musico.png),url(../images/Vectormusic1.svg);
    background-size: 900px, auto;
    background-repeat: no-repeat, no-repeat;
    background-position-x: right, left;
    background-position-y: top, top;
    overflow-x: hidden;
}