@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    color: white;
    position: relative;
    margin: 0;
    margin-left: 100px;
    background-color: #191919;
    background-image: url(../images/musico.png),url(../images/Vectormusic1.svg), url(../images/Vectormusic3.svg), url(../images/Vectormusic2.svg);
    background-size: 900px, auto, 400px, 300px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position-x: right, left, right, right;
    background-position-y: top, top, bottom, calc(50% + 200px);
    overflow-x: hidden;
    margin-bottom: 20px;
}

.butt:hover{
    color: #f42c04;
    background-color: white;
}
.butt:active{
    background-color: #aaa;
}
.butt{
    border-radius: 10px;
    color: white;
    background-color: #f42c04;
    padding: 10px 15px ;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .1rem;
    transition: .3s;
}

ul{
    list-style-type: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
li{
    margin: 0;
}
h1,h2{
    font-family: 'Cookie', cursive;
    font-weight: 500;
}

h1{
    text-align: right;
    flex-basis: 40%;
    font-size: 6rem;
}

h2{
    font-size: 4rem;
    margin-bottom: 1rem;
}

@media (max-width: 1410px){
    body{
        background-size: 700px, 600px, 300px, 200px;
    }
}

@media (max-width: 1210px){
    body{
        background-size: 650px, 500px, 300px, 200px;
    }
}

/* @media (max-width: 1160px){
    body{
        background-size: 350px, 400px, 300px, 200px;
    }
} */